<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dsh.demo.mapper.SysUserMapper">
	
	<resultMap id="BaseResultMap" type="com.dsh.demo.pojo.SysUserPo" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <collection property="roles" ofType="com.dsh.demo.pojo.SysRolePo">
            <result column="name" property="name"/>
        </collection>
    </resultMap>
    <sql id="queryCondition">
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>

            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>

        </where>
    </sql>
    <sql id="Base_Column_List" >
        id, username, type, password
    </sql>

    <select id="getAll" resultMap="BaseResultMap" >
       SELECT 
       <include refid="Base_Column_List" /> FROM sys_user
    </select>
    <select id="getByMap" parameterType="HashMap" resultMap="BaseResultMap">
        SELECT u.* FROM sys_user u
        <include refid="queryCondition" />
        ORDER  by id DESC
    </select>
    <select id="getById" parameterType="Long" resultMap="BaseResultMap">
        SELECT * FROM sys_user WHERE id =#{id}
    </select>
    <select id="getOneUser" parameterType="java.lang.Long" resultMap="BaseResultMap">
       SELECT <include refid="Base_Column_List" /> FROM sys_user where id=#{id}
    </select>
    <select id="getByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select u.*
        ,r.name
        from Sys_User u
        LEFT JOIN sys_role_user sru on u.id= sru.sys_user_id
        LEFT JOIN sys_role r on sru.sys_role_id=r.id
        where username= #{username}
    </select>

    <insert id="insert" parameterType="com.dsh.demo.pojo.SysUserPo" >
       INSERT INTO
        sys_user
       		(username,type,password)
       	VALUES
       		(#{username}, #{type}, #{password})
    </insert>
    
    <update id="update" parameterType="com.dsh.demo.pojo.SysUserPo" >
       UPDATE
        sys_user
       SET 
       	<if test="username != null and username != ''">username = #{username},</if>
       	<if test="type != null and type != ''">type = #{type},</if>
        <if test="password != null and password != ''">password = #{password}</if>

       WHERE 
       		id = #{id}
    </update>
    
    <delete id="delete" parameterType="java.lang.Long" >
       DELETE FROM
        sys_user
       WHERE 
       		 id =#{id}
    </delete>
</mapper>