<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Insert title here</title>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">访问model</h3>
    </div>
    <div class="panel-body">
        <span th:text="${user.user_name}"></span>
    </div>
</div>
<div th:if="${not #lists.isEmpty(users)}">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">列表</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" th:each="person : ${users}">
                    <span th:text="${person.user_name}"></span>
                    <span th:text="${person.type}"></span>
                    <button class="btn" th:onclick="|getName('${person.user_name}')|">弹</button>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/index/index.js}"></script>
<!--<script th:inline="javascript">
    var single = [[${user}]];
    console.log(single.user_name+"/"+single.type);
    function getName(name) {
        console.log(name);
    }

</script>-->
</body>
</html>
